<h1> Edit Order Item Quantity </h1>

<section>
  <%= form_for @orderproduct do |f| %>
  <%= f.hidden_field :product_id, value: @orderproduct.product_id %>

  <%= f.label :quantity %>
  <%= f.select :quantity, min: 1, max: @orderproduct.quantity %>

  <%= f.submit class: "button" %>
  <% end %>
</section>
