<h1><%= @user.username %> Cart</h1>

<% if @orderproducts.first %>

<section class="cart-table">
  <table>
    <tr>
      <th>
        Item
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
      <th>
        Options
      </th>
    </tr>
    <% @orderproducts.each do |op| %>
    <% product = Product.find(op.product_id) %>
    <tr>
      <td>
        <%= product.name %><br />
      </td>
      <td>
        <%= product.quantity %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= link_to "Edit", edit_orderproduct_path(op.id) %><span>  |  </span>
        <%= link_to "Remove", orderproduct_path(op.id), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>

  <section class="cart-summary">
    <p>
      <strong>Subtotal: </strong>
    </p>

  </section>
  <section>
    <%= link_to "Checkout", edit_order_path(@orderproducts.first.order_id), class: "button" %>
    <%= link_to "Clear cart", clearcart_path %>
  </section>

  <% else %>
  <h3>Cart empty!</h3>
  <% end %>
</section>
