<h1><%= "Order # #{@order.id}" %></h1>

<section class="order-status">
  <h3>Order status: <%= "#{@order.status.capitalize}" %></h3>

</section>

<section class="order-info">
  <h3>Order Details:</h3>
  <p><strong>User: </strong><%= @order.merchant_id %></p>
  <!-- find the merchant name instead of the merchant id -->
  <p><strong>Contact: </strong><%= @order.email %></p>
  <p><strong>Shipped to: </strong><%= @order.address %> - <%= @order.zip_code %></p>


</section>

<p> <strong>Charged to card: </strong><%= " ************#{@order.cc_number[13]}#{@order.cc_number[14]}#{@order.cc_number[15]}" %> | Expiration date: <%= @order.cc_expiration %></p>

<h4>Order Items:</h4>
<ul>
  <%  @order.products do |product| %>
  <li><%=  product.name %></li>
</ul>
<%  end %>

<div >
  <%= link_to "Cancel this order", order_path(@order.id), method: :patch, :class => "button"%>
</div>
