
<% if @merchant.id == @user.id  %>
<h1><%= link_to "See Your Orders" , orders_path %></h1>
<h1><%= link_to "See Your Products" ,  merchant_products_path(@merchant.id) %></h1>
<% else %>



<h1>Products by <%= @merchant.username %></h1>

<section class="item-box">
  <% Product.where(merchant_id: @merchant.id).each do |product| %>
  <div class="product-container">
    <h4><%= product.name %></h4>
    <a id="pic" href="https://loremflickr.com"><img src="
      https://loremflickr.com/350/250/dessert" alt="product pic"></a>
    <div class="product-info">
      <p>
        <strong>Price: </strong> <%= product.price %>
      <p>
          <strong>Stock: </strong> <%= product.quantity %>
      </p>
      </p>
      <p class="button">
        Add to cart
      </p>
    </div>
  </div>
  <% end %>
</section>
<% end %>
