<%= form_for @product do |f| %>
<%= f.hidden_field :product_id, value: @product.id %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label "price" %>
      <%= f.text_field :price %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <%= b.check_box %>
        <%= b.label %>
      <% end %>

        <%= f.submit %>

  <% end %>
</section>
