<h2>Product Details</h2>


<div>
  <strong><%= "Product : #{@product.name}" %></strong>
  <%= image_tag "https://picsum.photos" %>
  <p><%= "Price:#{ @product.price}" %>

    <p><%= "Stock: #{@product.quantity}" %></p>
  </div>
  <%= form_for @product do |f| %>
  <%= f.label :quantity %>
  <%= f.select :quantity, options_for_select(1..10)%>
  <%= f.submit "Add to Cart", class: "button" %>
  <% end %>
  <div>
    <p><%="Description:#{@product.description}" %>
    </div>
    <div>

      <h4>Ratings Summary</h4>
    <p>
      <%="Average rating: #{@product.average_rating}" %>
    </p>
  <% if @product.reviews.empty? %>
  <p>
    Be the first to review!
  </p>
  <%else %>
  <ul>
    <% @product.reviews.each do |review| %>
    <article>
    <li>
      <% review.rating%>
  
    </li>
    <p>
      <%= review.comment %>

    </article>
    <%end %>
  </ul>
  <% end %>
  <p><%=link_to "review now!", new_product_review_path(@product.id), class: 'button' %></p>
</section>
    </div>
