<%= render partial: "review_form" %>

<h1><%= @product.name %> details</h1>

<section class-="product-show-container">
  <div id="pic">
    image_tag("images/apple_pie.jpg")
    <a href="https://loremflickr.com"><img src="
      https://loremflickr.com/280/200/dessert" alt="product pic"></a>
    </div>

    <article class="column small-12 medium-6">
      <% if @product.quantity == 0 %>
      <h4>Product out of Stock</h4>
      <% else %>
      <p><strong>Stock:</strong> <%= @product.quantity %></p>
      <% end %>
      <p><strong>Price:</strong> <%= format_price(@product.price) %>
        <p>
          <strong>Description:</strong>
          <% if @product.description %>
          <%= @product.description %>
          <% else %>
          <%= "None" %>
          <% end %>
        </p>

        <% if @product.quantity > 0%>
        <section class='product-form'>
          <%= form_for (Orderproduct.new), :url => orderproducts_path do |f| %>
          <%= f.label :quantity %>
          <%= f.select :quantity, options_for_select(1..@product.quantity)%>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.submit "Add to cart", class: "button" %>
          <% end %>
        </section>
        <% end %>
        <section class="rating-container">
          <h4>Ratings Summary</h4>
          <p>
            <%="Average rating: #{@product.average_rating}" %>
          </p>
          <p>
            <%=link_to "Add review", new_product_review_path(@product.id), class: 'button' %>
          </p>

          <!-- If no reviews: -->
          <% if @product.reviews.empty? %>
          <p>
            Be the first to review!
          </p>

          <%else %>
        </section>

        <div id="review">
          <!-- Reviews: -->
          <ul>
            <% @product.reviews.length.times do |i| %>
            <li> <strong>Review <%= "#{i+1}:  " %></strong><%="ðŸ¦" * @product.reviews[i].rating %></li>

            <% if @product.reviews[i].comment && @product.reviews[i].comment.length > 0%>
            <li>Comment: "<%= @product.reviews[i].comment %>"</li>
            <%else %>
            <li>No comments</li>
            <%end %>
            <%end %>
          </ul>
          <% end %>
        </div>
      </article>
    </section>
