<h2>Product Details</h2>


<div>
  <strong><%= "Product : #{@product.name}" %></strong>
  <%= image_tag "https://placeholder.com" %>
  <p><%= "Price:#{ @product.price}" %>

    <p><%= "Stock: #{@product.quantity}" %></p>
  </div>
  <%= form_for @product do |f| %>
  <%= f.label :quantity %>
  <%= f.select :quantity, options_for_select(1..10)%>
  <%= f.submit "Add to Cart", class: "button" %>
  <% end %>
  <div>
    <p><%="Description:#{@product.description}" %>
    </div>
    <div>
      <h3>Reviews:</h3>
      <p><strong>Average Rating:</strong><%= "#{@product.average_rating}" %></p>
      <% @product.reviews.each do |review| %>
      <ul id = "show-review">
        <li>
          Rating: <%= review.rating %>
        </li>
        <li>
          <%= review.comment %>
        </li>
      </ul>
      <% end %>


      <%= link_to("Add a Review", new_product_review_path(@product.id), :class => "button") %>


    </div>
