<%= render partial: "review_form" %>

<h1><%= @product.name %> details</h1>

<section class-="product-show-container">
  <div id="pic">
    image_tag("images/apple_pie.jpg")
    <a href="https://loremflickr.com"><img src="
      https://loremflickr.com/280/200/dessert" alt="product pic"></a>
    </div>

    <div class="product-show-info">
      <p><strong>Stock:</strong> <%= @product.quantity %></p>
      <p><strong>Price:</strong> <%= format_price(@product.price) %></p>
      <p>
        <strong>Description:</strong>
        <% if @product.description %>
        <%= @product.description %>
        <% else %>
        <%= "None" %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="product-show-form">
    <%= form_for (Orderproduct.new), :url => orderproducts_path do |f| %>
    <%= f.label :quantity %>
    <%= f.select :quantity, options_for_select(1..@product.quantity),:style => "width:250px"%>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.submit "Add to cart", class: "button" %>
    <% end %>
  </div>
</section>

<section class="rating-container">
  <h4>Ratings Summary</h4>
  <p>
    <%="Average rating: #{@product.average_rating}" %>
  </p>
  <% if @product.reviews.empty? %>
  <p>
    Be the first to review!
  </p>
  <p>
    <%=link_to "Add review", new_product_review_path(@product.id), class: 'button' %>
  </p>
  <%else %>
  <ul>
    <% @product.reviews.each do |review| %>
    <li>
      <%review.rating.times do %>
      <%= "ðŸ¦" %>
      <% end %>
    </li><br />
    <%= review.comment %>
    <%end %>
  </ul>
  <% end %>
</section>
