<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Pontano+Sans" rel="stylesheet">
  <title><%= content_for?(:title) ? yield(:title) : "Sweetsy!" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header class="nav-bar">
  <section class="top-bar" data-topbar role="navigation">

    <div>
      <%= link_to image_tag("/assets/images/candy-icon.jpg", alt: "Home"), homepage_path, class: "button" %>
    </div>

    <div>
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <%= link_to "View all products", products_path, class: "button" %>
          <ul class="menu">
            <% Product.all.each do |product|%>
            <li>  <%= link_to product.name, product_path(product.id), class: "button" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div>
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <%= link_to "View all merchants", merchants_path, class: "button" %>
          <ul class="menu">
            <% Merchant.all.each do |merchant|%>
            <li>  <%= link_to merchant.username, merchant_path(merchant.id), class: "button" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div>
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <%= link_to "Shop by Category", categories_path, class: "button" %>
          <ul class="menu">
            <% Category.all.each do |cat|%>
            <li><%= link_to cat.name, category_path(cat.id), class: "button" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <% if @user %>
    <%= link_to "Logged in as #{@user.username}", merchant_path(@user), class: "button" %>
    <%= link_to "Log Out", logout_path, method: :delete, class: "button" %>
    <% else %>
    <%= link_to "Log In", github_login_path, class: "button" %>
    <% end %>
    <%= link_to "Cart", cart_path, class: "button" %>

  </section>
</header>

<body>
  <% if flash[:result_text] or flash[:messages] %>
  <section class="status <%= flash[:status] %>">
    <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></h3>
    <% if flash[:messages] %>
    <ul>
      <% flash[:messages].each do |name, problems| %>
      <% problems.each do |problem| %>
      <li><%= name %>: <%= problem %></li>
      <% end %>
      <% end %>
    </ul>
    <% end %>
  </section>
  <% end %>

  <%= yield %>

</body>
</html>
